.container {
    margin: 10px;
    width: 300px;
    background-color: #ececec;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(189, 189. 189);
  
   
}  

.container img{
    width: 300px;
    height: 300px;
}

.container h3 {
    margin: 15px 20px 20px;
    font-family: cursive;
}

.container p {
    margin: 0 25px 20px ;
    background-color: #A0B3B3;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: rgb(19, 18, 18);
    
}

.counter {
    display: flex;
    align-items: center;
    border-top: 1px solid silver;
    
}


.counter img{
    width: 30px;
    height: fit-content;
    cursor: pointer;
    margin: 20px;
}

.counter span {
    background-color: rgb(69, 71, 69);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    margin-left: -15px;
    margin-right: -15px;
}

.deactive {
    opacity: 0.3;
}