.container{
    text-align: center;
    margin: 60px;
    
}

.container h3{
    color: #505050;
    font-size: 3rem;
    font-weight: bold;
    font-family: cursive;
}

.container div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.logo4,
.logo2,
.logo1{
    width: 300px;
}

.logo1 {
    margin-bottom: 20px;
}

.logo3{
    width: 350px;
}

